@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: "Noto Sans", sans-serif;  
}
html {
    font-size: 13px;
    background: #f8f8f8;
}

body {
    margin: 0;
    color: #000;
    width: 100%;
    max-width: 750px;
    min-width: 350px;
    background: #fff;
    margin: 0 auto;
    min-height: 700px;
}

ul, ol {
    list-style: none;
    margin: 0; 
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

img {
    border: 0;
}

.vehicle_sun {
    width: 100%; 
    display: block;
    border-radius: 10px;
    margin-bottom: 10px;
}

form {
    margin-bottom: 40px;
  }


/*맨위*/
h1 {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
  }

/*날씨 이미지*/
#img_sun1 {
    width: 40px !important;
    height: auto !important;
  }
  
  #img_rain1 {
    width: 40px !important;
    height: auto !important;
  }
  
  #img_mungi1 {
    width: 40px !important;
    height: auto !important;
  }

  #img_snow1 {
    width: 40px !important;
    height: auto !important;
  }

  h3 {
    margin-bottom: 20px; 
      }

/*내용*/

#memo_box {
    width: 100%;
    height: 150px;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #ccc; 
    border-radius: 10px; 
    font-size: 14px;
    resize: none;  
    box-sizing: border-box; 
}

#memo_box::placeholder {
    text-align: center;
    color: #d6a7b2;
}

/*등록*/
.btn-pink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    background-color: #ff8da6; 
    color: white;
    border: none;
    border-radius: 10px; 
    border: 1px solid #ff2756; 
    
  }

.button-box {
    margin-top: 50px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }
  
.btn-pink:hover {
    background-color: #ff6889;
  }

.white-icon {
    width: 18px;
    height: 18px;
  }

