svg {
    position: relative;
    top: -2px;
}

#diary-content {
    height: 300px;
    border-radius: 5px;
}

#calendar-dates {
    display: flex;
    flex-wrap: wrap;
    padding-right: 10px;

    list-style: none;
}

#calendar-dates > li {
    width: calc(100% / 7);
}

#calendar-dates input[type='radio'] {
    display: none;
}

#calendar-dates input[type='radio'] + label {
    cursor: pointer;
}

#calendar-dates input[type='radio']:checked + label {
    color: blue;
}

.calendar-container {
    width: 700px;
    margin: 30px auto;
    border-radius: 10px;
    border: 1px solid #ffb3c1;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 20px;
    background-color: #fff0f5;
}

.calendar-nav {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
    margin-bottom: 5px;
    font-size: 18px;
}

.yoil {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(7, 1fr);
    font-weight: bold;
    border-bottom: 1px solid #000000;
    padding-bottom: 5px;
    list-style-type: none;  
    
}

.yoil li {
    color: #000000;
    padding-left: 10px;
}

.day {
    padding: 5px;
}

#calendar-dates label {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 35px;
    width: 35px;
    transition: background-color 0.2s;
}

#calendar-dates label:hover {
    background-color: #ffe5ec;
    border-radius: 50%;
}

.nav-btn {
    background-color: #fcc3ce;
    color: white;
    border: none;
    padding: 5px 12px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.nav-btn:hover {
    background-color: #faa7b8;
}